* {
  font-family: 'Archivo', sans-serif;
}

.intro {
  font-family: 'Balsamiq Sans', cursive;
}

#hero {
  background: url('../images/laptop.jpeg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color:#fff;
  opacity: 0.9;
}

#hero .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:50%;
}

.custom-button {
  border: none;
  padding: 10px 35px;
  background-color: #ffaaa5,;
  color: #37474f;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

}

.custom-button:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  border-top: 2px solid orangered;
  border-left: 2px solid orangered;
  transition: all 1s;
}

.custom-button:hover:before, 
.custom-button:hover:after {
  height: 100%;
  width: 100%;
}

.custom-button:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid orangered;
  border-right: 2px solid orangered;
  transition: all 1s;
}

.hobby {
   margin:0;
   padding:0;
   background:#607d8b;
   padding: 3% 0;
}

.card img {
  width: 100%;
  transition: 0.3s;
  border-radius: 8px;
}
.card {
  border-radius: 12px;
  padding: 2%;
  margin-bottom: 6%;
  background: #fff;
  box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}

.card:hover {
  box-shadow: inset 10px 10px 24px -12px (0, 0, 0, 0.75);
}

.card:hover img {
  transform: scale(0.9);
}