$theme-colors: (
  blue: #4fc3f7,
  indigo: #3d5afe,
  purple:#7e57c2,
  pink: #ffaaa5,
  red: #fe6768,
  orange: #ff6e40,
  yellow: #fff68f,
  green: #68B2A0,
  teal: #20c997,
  cyan: 	#a8e6cf,
  white: #fff,
  gray: #607d8b,
  gray-dark: #37474f,
  primary: #ffd3b6,
  secondary: 	#9cafbe,
  success: #2C6972,
  info: #ff8d8d,
  warning: #fff68f,
  danger: #dc3545,
  light: #f8f9fa,
  dark: #343a40
);






@import "../bootstrap/scss/bootstrap";


